
.dropdown-menu {
  position: absolute;
  top: 110%;
  left: 0;
  z-index: 1;
}

.btn-group {
  position: relative;
}

.dropdown-toggle {
  cursor: pointer;
}

.btn-group:hover .dropdown-menu,
.navbar-nav .nav-item:hover .dropdown-menu {
  display: block;
}

.navbar {
  padding: 10;
}

.nav-link {
  color: white;
}
